* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

:root {
	--header-height: 2.7rem;
	--footer-height: 3.5rem;
	--main-leftbar-width: 12rem;
	--main-rightbar-width: 15rem;

	--color-background-dark: #1f222b;
	--color-background-medium: #2c2f39;
	--color-background-light: #3a3d49;
	--color-text-primary: #ddd;
	--color-text-secondary: #eee;
	--color-tab-hover: #2c2f39;
	--color-tab-selected: #3a3d49;
	--color-progress-bar: #53b356;
	--color-control-default: #888;
	--color-control-hover: #a3a3a3;
	--color-control-playing: #585858;
}

body {
	font-family: sans-serif;
	color: var(--color-text-primary);
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* ---------------------------- HEADER ---------------------------- */

.header {
	height: var(--header-height);
	display: flex;
	background: var(--color-background-dark);
}

.tab-list {
	height: 100%;
	display: flex;
}

.tab-list .option {
	cursor: pointer;
	width: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-list .option p {
	color: var(--color-text-secondary);
	font-size: 1.1rem;
}

.tab-list .option:hover {
	background: var(--color-tab-hover);
}

.tab-list .option.selected {
	background: var(--color-tab-selected);
}

/* ---------------------------- MAIN ---------------------------- */

.main {
	display: flex;
	flex: 1;
}

.tab-content {
	display: none;
}

#tab-mods-content {
	display: flex;
	flex: 1;
}

#tab-mods-content .main-leftbar {
	width: var(--main-leftbar-width);
	background: var(--color-background-medium);
}

#tab-mods-content .main-center {
	flex: 1;
	background: var(--color-background-light);
}

#tab-mods-content .main-rightbar {
	width: var(--main-rightbar-width);
	background: var(--color-background-medium);
}

/* ---------------------------- FOOTER ---------------------------- */

.footer {
	height: var(--footer-height);
	background: var(--color-background-dark);
	display: flex;
	align-items: center;
	padding: 0.6rem;
	gap: 0.8rem;
}

.footer-progress {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
}

.footer-progress-text {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-progress-text p {
	font-size: 0.85rem;
}

.footer-progress-bar {
	width: 100%;
	height: 0.5rem;
	background: var(--color-background-medium);
}

.footer-progress-bar-fill {
	width: 0%;
	height: 100%;
	background: var(--color-progress-bar);
}

.footer-control {
	display: flex;
	gap: 8px;
	height: 100%;
}

.footer-control-input {
	background: var(--color-control-default);
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-control-input:hover {
	background: var(--color-control-hover);
}

.footer-control-input.button {
	width: 5rem;
}

.footer-control-input.dropdown {
	width: 1.4rem;
}

.footer-control #main-control-button.playing {
	background: var(--color-control-playing);
}
